body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    width: 400px;
}

.registration-form h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

/* Error Message */
.error {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}