<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Reservation Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}">
</head>
<body>
<div class="container">
    <header>
        <nav>
            <div class="logo">Flight Reservation</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="showReg">Register</a></li>
                <li><a href="showLogin">Login</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome To Flight Reservation</h1>
            <p class="intro">Click here to <a href="showReg">Register</a> or <a href="showLogin">Login</a></p>
        </div>
    </section>
</div>
</body>
</html>
