/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header styles */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 16px;
}

/* Flight details styles */
.flight-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 130px 20px;
}

.flight-details .detail span {
    font-weight: bold;
    color: #007bff; /* Change color as needed */
}


/* Container styles */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Column styles */
.column {
    width: 38%;
    margin: 0 20px;
}

/* Heading styles */
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Label styles */
label {
    display: block;
}

/* Input styles */
input[type="text"],
input[type="email"] {
    width: 100%;
}

/* Button styles */
.button_container button {
    padding: 10px 100px;
    width: 100%;
    margin: 16px 0;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .flight-details {
        flex-direction: column; /* Stack flight details vertically on smaller screens */
        text-align: center; /* Center flight details on smaller screens */
    }

    .container {
        flex-direction: column; /* Stack columns vertically on smaller screens */
    }

    .column {
        width: 100%; /* Full width on smaller screens */
        max-width: none; /* Remove max-width on smaller screens */
        margin: 0; /* Remove margin on smaller screens */
        padding: 0; /* Remove padding on smaller screens */
    }
}
